<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>add-category</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/Layout.css}" />
</head>
<body>
<div th:insert="fragments/menu :: navbar-admin"></div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form action="#" th:action="@{/admin/addcategory}" th:object="${category}"
                  method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="name" class="col-form-label">Category name</label>
                        <input type="text" th:field="*{name}" required = "" class="form-control" id="name"
                               placeholder="Enter a genre">
                        <span th:if = "${#fields.hasErrors('name')}" th:errors = "*{name}" class = "input-error"/>
                    </div>
                </div>

                <div class="col-md-6 mt-5">
                    <a th:href="@{/admin}" class="btn btn-secondary" role="button">Back</a>
                    <input type="submit" class="btn btn-dark" value="Add Category">
                </div>
            </form>
        </div>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>