<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Add Omdb Movie</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/Layout.css}" />
</head>
<body>
<div th:insert="fragments/menu :: navbar-admin"></div>
<div class="container">

    <div class="form-title">
        <h2>Add new movie</h2>
    </div>
    <h2 class="mb-5">Add Omdb Movie</h2>
    <div class="row add-form">
        <div class="col-md-6">
            <form action="#" th:action="@{/admin/addomdbmovie/{title}(title=${movie.name})}" th:object="${movie}"
                  method="post">
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="name" class="col-form-label">Name</label>
                        <input type="text" th:field="*{name}" required = "" class="form-control" id="name"
                               placeholder="Name">
                        <span th:if = "${#fields.hasErrors('name')}" th:errors = "*{name}" class = "input-error" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="name" class="col-form-label">Year</label>
                        <input type="number" th:field="*{year}" required = "" class="form-control" id="year"
                               placeholder="Year">
                        <span th:if = "${#fields.hasErrors('year')}" th:errors = "*{year}" class = "input-error" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="name" class="col-form-label">Rating</label>
                        <input type="number" step="0.1" th:field="*{rating}" required = "" class="form-control" id="rating"
                               placeholder="Rating">
                        <span th:if = "${#fields.hasErrors('rating')}" th:errors = "*{rating}" class = "input-error" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="name" class="col-form-label">Category</label>

                        <select  required = "" class="form-control" id="category" name="category">
                            <option value="">Select category</option>
                            <option
                                    th:each="category : ${categories}"
                                    th:value="${category.id}"
                                    th:text="${category.name}">
                            </option>
                        </select>
                        <span th:if = "${#fields.hasErrors('category')}" th:errors = "*{category}" class = "input-error" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="name" class="col-form-label">Imdb link</label>
                        <input type="text" th:field="*{linkImdb}" required = "" class="form-control" id="linkImdb"
                               placeholder="Imdb link">
                        <span th:if = "${#fields.hasErrors('linkImdb')}" th:errors = "*{linkImdb}" class = "input-error" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="name" class="col-form-label">Poster link</label>
                        <input type="text" th:field="*{linkPoster}"class="form-control" id="linkPoster"
                               placeholder="Poster link">
                        <span th:if = "${#fields.hasErrors('linkPoster')}" th:errors = "*{linkPoster}" class = "input-error" />
                    </div>

                </div>
                <div class="form-group col-md-12">
                    <label for="name" class="col-form-label">Description</label>
                    <textarea id="w3mission" class="form-control" rows="4" cols="125"  th:field="*{description}">
                    </textarea>
                    <span th:if = "${#fields.hasErrors('description')}" th:errors = "*{description}" class = "input-error" />
                </div>
                <div class="row">
                    <div class="col-md-6 mt-5">
                        <a th:href="@{/admin/omdbmoviesearch}" class="btn btn-secondary" role="button">Back</a>
                        <input type="submit" class="btn btn-dark" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>