<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding: 15px;
    }
    </style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body data-spy="scroll" data-offset="60" data-target="#myNavbar">
<h1>Movies Page</h1>
<div id="topnav" style="text-align:right;" >
    <a th:href="@{/admin}">admin main</a>
    <a th:href="@{/admin/signupmovie}">add movie</a>
    <a th:href="@{/admin/signupcategory}">add category</a>
</div>
<h3>Categories</h3>

<p class="my-5">
    <a title="add category" href="/admin/signupcategory"class="fas fa-plus-square fa-4x">
        <i class="fas fa-movie-plus-square"></i>
    </a>
</p>

<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr align="center" th:each="category : ${categories}">
        <td th:text="${category.name}"></td>
        <td>
            <a title="edit" th:href="@{/admin/editcategory/{id}(id=${category.id})}" class="fas fa-edit fa-lg">
                <i class="icon-fixed-width icon-pencil"></i>
            </a>
        </td>
        <td>
            <a title="delete" th:href="@{/admin/deletecategory/{id}(id=${category.id})}" class="fas fa-trash-alt fa-lg">
                <i class="fas fa-movie-trash-alt fa-2x"></i></a>
        </td>
    </tr>
    </tbody>
</table>

<hr>

<h3>Movies</h3>

<p class="my-5">
    <a title="add movie" href="/admin/signupmovie"class="fas fa-plus-square fa-4x">
        <i class="fas fa-movie-plus-square"></i>
    </a>
</p>

<p class="my-5">
<form th:action="@{/admin}" method="get">
    <input type="text" name="search" id="search" th:value="${search}"/>
    <input type="submit" value="Search movies"/>
</form>
</p>

<nav id="myNavbar" aria-label="Pagination" th:if="${movies.totalPages gt 0}">
    <ul class="pagination justify-content-center font-weight-bold">
        <li class="page-item" th:classappend="${movies.number eq 0} ? 'disabled'">
            <a class="page-link"
               th:href="@{/admin#myNavbar(page=${movies.number lt 2 ? 1 : movies.number},search=${searchStr})}"
               aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item" th:classappend="${i eq movies.number + 1} ? 'active'"
            th:each="i : ${#numbers.sequence( 1, movies.totalPages, 1)}">
            <a class="page-link" th:href="@{/admin#myNavbar(page=${i},search=${searchStr})}" th:text="${i}"
               th:title="${'Page '+ i}" data-toggle="tooltip"></a>
        </li>
        <li class="page-item" th:classappend="${movies.number + 1 eq movies.totalPages} ? 'disabled'">
            <a class="page-link"
               th:href="@{/admin#myNavbar(page=${movies.number + 2},search=${searchStr})}"
               aria-label="Next" title="Next Page" data-toggle="tooltip">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>

<div align="center">
    <th:block th:text="${movies.totalElements}"></th:block><p>movies found</p>
</div>

<div id="table">
<table style="width:100%">
        <thead>
        <tr>
            <th>Category</th>
            <th>Name</th>
            <th>Year</th>
            <th>Description</th>
            <th>Rating</th>
            <th>Poster</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr align="center" th:each="movie : ${movies}">
            <td th:text="${movie.category.name}"></td>
            <td th:text="${movie.name}"></td>
            <td th:text="${movie.year}"></td>
            <td th:text="${movie.description}"></td>
            <td th:text="${movie.rating}"></td>
            <td style="padding:5px">
                <a th:title="${movie.name}" th:href="@{${movie.linkImdb}}">
                    <img th:src="@{${movie.linkPoster}}" width="80" height="150" alt="${movie.name}"/>
                </a>
            </td>
            <td>
                <a title="edit" th:href="@{/admin/editmovie/{id}(id=${movie.id})}" class="fas fa-edit fa-lg">
                    <i class="icon-fixed-width icon-pencil"></i>
                </a>
            </td>
            <td>
                <a title="delete" th:href="@{/admin/deletemovie/{id}(id=${movie.id})}" class="fas fa-trash-alt fa-lg">
                    <i class="fas fa-movie-trash-alt fa-2x"></i></a>
            </td>
        </tr>
    </tbody>
    </table>
    </div>

<h3> Add movies from OMDb API</h3>
<a title="Add Movie from OMDb API" th:href="@{/admin/omdbmoviesearch}" class="fas fa-plus-square fa-4x">
    <i class="fas fa-movie-plus-square"></i>
</a>

</body>
</html>