<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
    <style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    </style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<h1>Movies Page</h1>
<h3>Welcome, admin!</h3>

<p class="my-5">
<form th:action="@{/admin}" method="get">
    <input type="text" name="search" id="search" th:value="${search}"/>
    <input type="submit" value="Search"/>
</form>
</p>

<table style="width:100%">
    <thead>
    <tr>
        <th>Name</th>
        <th>Year</th>
        <th>Description</th>
        <th>Rating</th>
        <th>Poster</th>
        <th>Update</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie : ${movies}">
        <td th:text="${movie.name}"></td>
        <td th:text="${movie.year}"></td>
        <td th:text="${movie.description}"></td>
        <td th:text="${movie.rating}"></td>
        <td>
            <a th:title="${movie.name}" th:href="@{${movie.linkImdb}}">
                <img th:src="@{${movie.linkPoster}}" width="170" height="290" alt="${movie.name}"/>
            </a>
        </td>
        <td align="center">
            <a title="edit" th:href="@{/edit/{id}(id=${movie.id})}" class="fas fa-edit fa-lg">
                <i class="icon-fixed-width icon-pencil"></i>
            </a>
        </td>
        <td align="center">
            <a title="delete" th:href="@{/delete/{id}(id=${movie.id})}" class="fas fa-trash-alt fa-lg">
                <i class="fas fa-movie-trash-alt fa-2x"></i></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>