<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Omdb Movies</title>
<style>
    table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    }
</style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>
<body>
<h1>Movies Page</h1>
<h3>Search movies in OMDb API</h3>

<p class="my-5">
<form action="#" th:action="@{/admin/omdbmoviesearch}" method="get">
    <input type="text" name="search" id="search" th:value="${search}"/>
    <input type="submit" value="Search"/>
</form>
</p>
<h2 class="my-5">Omdb Movies</h2>
<table style="width:100%">
    <thead>
    <tr>
        <th>Name</th>
        <th>Year</th>
        <th>Imdb ID</th>
        <th>Poster</th>
        <th>Add</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="movie : ${omdbMovies}">
        <td th:text="${movie.title}"></td>
        <td th:text="${movie.year}"></td>
        <td th:text="${movie.imdbID}"></td>
        <td>
                <img th:src="@{${movie.poster}}" width="200" height="330" alt="${movie.title}"/>
        </td>
        <td align="center">
            <a th:href="@{/admin/editomdbmovie/{title}(title=${movie.title})}" class="btn btn-primary">
                <i class="far fa-plus-square fa-3x"></i>
            </a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>