<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Omdb Movies</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" th:href="@{/css/Layout.css}" />
</head>
<body>
<div th:insert="fragments/menu :: navbar-admin"></div>
<div class="container">
    <div class="form-title">
        <h2>Search movie in OMDb API</h2>
    </div>

    <p class="form-group">
    <form class="search-form" action="#" th:action="@{/admin/omdbmoviesearch}" method="get">
        <input type="text" class="form-control" name="search" id="search" th:value="${search}"/>
        <a th:href="@{/admin}" class="btn btn-secondary" role="button">Back</a>
        <input type="submit" class="btn btn-dark" value="Search">
    </form>
    </p>

    <th:block th:each="movie : ${omdbMovies}">
        <div class="movie-element">
            <div class="movie-info">
                <a th:href="@{/admin/editomdbmovie/{title}(title=${movie.title})}" class="btn btn-primary">
                    <i class="fas fa-plus"></i>
                </a>
            </div>
            <div class="movie-info">
                <span th:if="${#strings.contains(movie.poster,'N/A')}">
                    <img th:src="@{/images/movie.png}" alt="movie"/>
                </span>
                <span th:unless="${#strings.contains(movie.poster,'N/A')}">
                    <img th:title="${movie.title}" th:src="@{${movie.poster}}" th:alt="${movie.title}0"/>
                </span>
            </div>
            <div class="movie-info">
                <h2><p th:text="${movie.title}"></p></h2>
                <h5><p th:text="${movie.year}"></p></h5>
            </div>
        </div>
    </th:block>
</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>