body{
  background-color: #E6DFDF;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px;
}
tr{
align: center;
}
form label{
font-weight: bold;
font-size: larger;
}
.fas, .btn-primary  {
 color: #222533;
 background-color: #E6DFDF;
 border-color: #222533;
}
#category-link{
  margin-left: 30px;
  color: #1C1C1B;
}
#category-row{
margin-bottom: 25px;
}
#category-row a:hover{
  text-decoration: none;
  color: #EEFF4E;
}
#movie-box{
  display: inline-block;
  vertical-align:top;
  overflow:hidden;
  border-radius: 5px;
  width: 210px;
  height: 400px;
  margin: 3px;
  background-color: #413E3E;
}
#movie-box img{
  border-radius: 3px;
  margin: 5px;
  width: 200px;
  height: 330px;
}
#movie-box a{
  text-align: center;
  color: #CDCDCD;
  font-size: 18px;
}
.movie-element{
  border-radius: 5px;
  margin: 10px;
  padding: 15px;
  background-color: #413E3E;
  color: #CDCDCD;
}
.movie-info{
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  padding-right: 20px;
}
.movie-info img{
  width: 95px;
  height: 150px;
  border-radius: 8px;
  padding: 5px;
}
.movie-info a{
  color: #CDCDCD;
}
.movie-info a:hover{
  text-decoration: none;
}
.movie-details{
  display: inline-block;
  vertical-align: top;
}
.movie-details img{
  width: 200px;
  height: 330px;
  border-radius: 8px;
  padding: 5px;
}
.movie-details a{
  color: #B7A3A3;
}
.rating span{
  font-size: 20px;
}
.rating img{
  padding: 5px;
  margin-bottom: 10px;
  width: 33px;
  height: 33px;
}
.error_bubble {
    font-family: Arial, helvetica, sans-serif;
    font-weight: bold;
    font-size: 33px;
    color: white;
    text-align: center;
    border-radius: 8px;
    margin: 30px 170px 0 370px;
    padding: 50px;
    background: none repeat scroll 0% 0% #413E3E;
    border: 1px solid #413E3E;
}
.error_arrow {
    border-color: #413E3E transparent transparent transparent;
    border-style: solid;
    border-width: 21px 31px 0px 0px;
    height: 0;
    left: 700px;
    line-height: 0;
    position: relative;
    top: -1px;
    width: 0;
}