<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>category</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div th:insert="fragments/menu :: navbar-user"></div>
<h1>Movies in category:</h1>
    <h2><td th:text="${category.name}" ></h2>

<p class="my-5">
<form th:action="@{/category/{id}(id = ${category.id})}" method="get">
    <input type="text" name="search" id="search" th:value="${search}"/>
    <input type="submit" value="Search"/>
</form>
</p>

    <span th:if="${#lists.isEmpty(movies)}">Sorry, there are no movies!</span>

    <span th:unless="${#lists.isEmpty(movies)}">

        <table style="width:100%">
        <thead>
        <tr>
            <th>Name</th>
            <th>Year</th>
            <th>Description</th>
            <th>Rating</th>
            <th>Poster</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="movie : ${movies}">
            <td th:text="${movie.name}"></td>
            <td th:text="${movie.year}"></td>
            <td th:text="${movie.description}"></td>
            <td th:text="${movie.rating}"></td>
            <td>
                <a th:href="@{${movie.linkImdb}}">
                <img th:src="@{${movie.linkPoster}}" width="200" height="330" alt="${movie.name}"/>
                </a>
            </td>
        </tr>
        </tbody>
        </table>


    <nav aria-label="Pagination" th:if="${movies.totalPages gt 0}">
    <ul class="pagination justify-content-center font-weight-bold">
        <li class="page-item" th:classappend="${movies.number eq 0} ? 'disabled'">
            <a class="page-link" th:href="@{/category/{id}/(id = ${category.id},page=${movies.number lt 2 ? 1 : movies.number},search=${search})}"
               aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        <li class="page-item" th:classappend="${i eq movies.number + 1} ? 'active'"
            th:each="i : ${#numbers.sequence( 1, movies.totalPages, 1)}">
            <a class="page-link" th:href="@{/category/{id}/(id = ${category.id},page=${i},search=${search})}" th:text="${i}"
               th:title="${'Page '+ i}" data-toggle="tooltip"></a>
        </li>
        <li class="page-item" th:classappend="${movies.number + 1 eq movies.totalPages} ? 'disabled'">
            <a class="page-link"
               th:href="@{/category/{id}/(id = ${category.id},page=${movies.number + 2},search=${search})}"
               aria-label="Next" title="Next Page" data-toggle="tooltip">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</nav>
    </span>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>