<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movies page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/Layout.css}" />
</head>
<body>
<div th:insert="fragments/menu :: navbar-user"></div>
<div class="container">

    <th:block th:each="category : ${categories}">
        <div id="category-row">
    <span th:unless="${#lists.isEmpty(category.movies)}">
        <h2><a id="category-link" th:href="@{/category/{id}(id = ${category.id})}"><span th:text="${category.name}"></span></a></h2>
    <tr th:each="movie, iterStat : ${category.movies}" th:if="${iterStat.index} <5">
        <div id="movie-box">
            <a th:href="@{/movie/{id}(id = ${movie.id})}">
                <span th:if="${#strings.isEmpty(movie.linkPoster)}">
                    <img th:src="@{/images/movie.png}" alt="movie"/>
                </span>
                <span th:unless="${#strings.isEmpty(movie.linkPoster)}">
                    <img th:title="${movie.name}" th:src="@{${movie.linkPoster}}" alt="${movie.name}"/>
                </span>
                <p th:text="${movie.name}"></p>
            </a>
        </div>
        </div>
    </tr>
    </span>
    </th:block>

</div>
<div th:insert="fragments/footer :: footer"></div>
</body>
</html>