<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movies page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/Layout.css}" />
</head>
<body>
<div class="container">
    <div th:insert="fragments/menu :: menu"></div>

    <p class="my-5">
    <form th:action="@{/search}" method="get">
        <input type="text" name="search" id="search" th:value="${search}"/>
        <input type="submit" value="Search"/>
    </form>
    <div class="movie-element">
        <div class="movie-details">
                <span th:if="${#strings.isEmpty(movie.linkPoster)}">
                    <img th:src="@{/images/movie.png}" alt="movie"/>
                </span>
                <span th:unless="${#strings.isEmpty(movie.linkPoster)}">
                    <img th:title="${movie.name}" th:src="@{${movie.linkPoster}}" alt="${movie.name}"/>
                </span>
        </div>
        <div class="movie-details rating">
                <h2><p th:text="${movie.name}"></p></h2>
                <h6><a  th:href="@{/category/{id}(id = ${movie.category.id})}"><span th:text="${movie.category.name}"></span></a>
                    <span> | </span>
                    <a  th:href="@{${movie.linkImdb}}">IMDb page</a>
                </h6>
                <h5><p th:text="${movie.year}"></p></h5>
                <div class="rating">
                    <img th:src="@{/images/star.png}" alt="star"/>
                    <span th:text="${movie.rating}"></span>
                </div>
        </div>
        <div>
            <p th:text="${movie.description}"></p>
        </div>
    </div>
    <div th:insert="fragments/footer :: footer"></div>
</div>
</body>
</html>